<div class="container">
  <h1>Hubla Challenge - Account</h1>

  <a href="#" routerLink="/accounts/create/" class="btn btn-success">Create New Account</a>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Seller</th>
      <th>Ammount</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let account of accounts">
      <td>{{ account.id }}</td>
      <td>{{ account.seller.name }}</td>
      <td>{{ account.ammount }}</td>
      <td>
        <a href="#" [routerLink]="['/accounts/', account.id, 'view']" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/accounts/', account.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>
